<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">{{name}}</h4>
</div>
<div class="modal-body">
  <p>
    {{#if description}}
      {{{ description }}}
    {{else}}
      Description unavailable.
    {{/if}}
  </p>
  {{{buildLinks urls}}}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
