<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal">&times;</button>
  <h4 class="modal-title">
    {{#if fullName}}
      {{fullName}}
    {{else}}
      &nbsp;
    {{/if}}
  </h4>
</div>
<div class="modal-body">
  {{#if description}}
    {{{ description }}}
  {{else}}
    Description unavailable.
  {{/if}}
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
