<form class="form-horizontal">
  <div class="form-group">
    <label for="inputSearch" class="col-sm-2 control-label">Search</label>
    <div class="col-sm-10">
      <input class="form-control" id="inputSearch" type="text" placeholder="Character, Comic or Creator" />
    </div>
  </div>
</form>
